---
import zhHant from "@/i18n/zh-Hant.json";

const socialLinks = [
	{ name: "FACEBOOK", url: "fb" },
	{ name: "X", url: "x" },
	{ name: "YOUTUBE", url: "youtube" },
	{ name: "INSTAGRAM", url: "ig" },
	{ name: "FLICKR", url: "flickr" },
	{ name: "TELEGRAM", url: "telegram" }
];
---

<footer>
	<div class="social-wrapper">
		<div class="social">
			{socialLinks.map(link => <a href={`https://sitcon.org/${link.url}`}>{link.name}</a>)}
		</div>
	</div>
	<div class="info">
		{
			zhHant.footer.map(info => (
				<div class="info-item">
					<h3>{info.title}</h3>
					<div class={`info-item-links ${info.gridLayout ? "grid-layout" : ""}`}>
						{info.links.map(line => (
							<a href={line.url}>{line.name}</a>
						))}
					</div>
				</div>
			))
		}
	</div>
	<img src="/2026/img/SITCON-hero.svg" alt="SITCON 2026" id="hero" />
</footer>

<style>
	footer {
		background-color: #ffd172;
		color: #000;
		overflow-y: hidden;
	}
	.social-wrapper {
		background-color: #f1b12e;
	}

	.social {
		max-width: var(--max-width);
		margin: 0 auto;
		padding: 1rem 2rem;
		display: flex;
		justify-content: space-between;
		gap: 1.5rem 3rem;
		font-family: "JetBrainsMono", monospace;
		flex-wrap: wrap;
		line-height: 1;
	}

	.social a {
		transition: all 0.3s ease;
	}

	.social a:hover {
		text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
		transform: scale(1.05);
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.info {
		max-width: var(--max-width);
		margin: 0 auto;
		padding: 1rem 1rem 0;
		display: grid;
		grid-template-columns: repeat(4, auto);
		gap: 1.5rem;
	}

	.info-item {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		white-space: pre-line;
		line-height: 1.5;
	}

	.info-item h3 {
		font-weight: bold;
		color: #2b2e3a;
	}

	.info-item-links {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.info-item-links a {
		transition: all 0.3s ease;
		font-family: "GenKiMinTW", sans-serif;
	}

	.info-item-links a:hover {
		opacity: 0.5;
	}

	.info-item-links.grid-layout {
		display: grid;
		grid-template-columns: repeat(3, auto);
		gap: 1.5rem;
	}

	#hero {
		display: flex;
		max-width: var(--max-width);
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 0rem 2rem;
		transform: translateY(2.7%);
	}

	@media (max-width: 60rem) {
		.info {
			grid-template-columns: repeat(2, auto);
		}
	}

	@media (max-width: 30rem) {
		.info {
			grid-template-columns: repeat(1, auto);
		}
	}
</style>
