---
import { Image } from "astro:assets";
const { name, position, avatar_url, social_link, team_name, team_index, style, description } = Astro.props;
---

<div
	class="explore-item person-trigger"
	data-team={team_name}
	data-team-index={team_index}
	data-name={name}
	data-position={position}
	data-avatar={avatar_url}
	data-social={social_link}
	data-description={description}
	data-open-modal="member-info-modal"
	style={style}
	aria-label={name}
>
	<Image class="avatar-img" src={avatar_url} alt={name} height={180} width={180} />
</div>

<style>
	.explore-item {
		position: relative;
		width: fit-content;
		border-radius: 62.5rem;
		background-color: #ac782b;
		margin: 2rem;
		cursor: pointer;
		border: none;
		transition:
			transform 0.3s ease,
			filter 0.3s ease;
	}

	.explore-item:hover {
		transform: translateY(-0.5rem);
		filter: drop-shadow(0 1rem 1rem #0000002d);
	}

	.avatar-img {
		width: 10rem;
		height: 10rem;
		border-radius: 1rem;
		object-fit: contain;
		background-color: #a97c21;
	}
</style>
