---
import { Image } from "astro:assets";
const { name, position, avatar_url, social_link, team, description } = Astro.props;
---

<div
	class="person person-trigger"
	data-team={team}
	data-name={name}
	data-position={position}
	data-avatar={avatar_url}
	data-social={social_link}
	data-description={description}
	data-open-modal="member-info-modal"
>
	<Image class="avatar-img" src={avatar_url} width={200} height={200} alt={`${name} avatar`} />
	<div class="text-group">
		<p class="name">{name}</p>
		<p class="position">{position}</p>
	</div>
</div>

<style>
	.avatar-img {
		width: 10rem;
		height: 10rem;
		border-radius: 1rem;
		object-fit: contain;
		background-color: #a97c21;
	}

	.person {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		max-width: 20rem;
		margin: 2rem 1.5rem;
		cursor: pointer;
		transition:
			transform 0.3s ease,
			filter 0.3s ease;
	}

	.person:hover {
		transform: translateY(-0.5rem);
		filter: drop-shadow(0 1rem 1rem #0000002d);
	}

	.text-group {
		width: 10rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-weight: 700;
		line-height: 1.5;
	}
</style>
