---
const { name, position, avatar_url, link, team, description } = Astro.props;
---

<div
	class="person person-trigger"
	data-team={team}
	data-name={name}
	data-position={position}
	data-avatar={avatar_url}
	data-link={link}
	data-description={description}
	data-open-modal="member-info-modal"
	aria-label={name}
>
	<img class="avatar-img" src={avatar_url} width={200} height={200} alt={`${name} avatar`} />
	<div class="text-group">
		<div class="name text-reveal-title">{name}</div>
		<div class="position text-reveal-paragraph">{position}</div>
	</div>
</div>

<style>
	.avatar-img {
		width: 10rem;
		height: 10rem;
		border-radius: 1rem;
		object-fit: cover;
		background-color: #7e590f;
	}

	.person {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		max-width: 20rem;
		margin: 2rem 1.5rem;
		cursor: pointer;
		transition:
			transform 0.3s ease,
			filter 0.3s ease;
	}

	.person:hover {
		transform: translateY(-0.5rem);
		filter: drop-shadow(0 1rem 1rem #0000002d);
	}

	.text-group {
		width: 10rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
</style>
